@font-face {
  font-family: "Cera Pro Medium";
  src: local("Cera Pro"),
    url("../public/res/fonts/cera-pro-font/Cera\ Pro\ Medium.otf")
      format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Cera Pro Light";
  src: local("Cera Pro"),
    url("../public/res/fonts/cera-pro-font/Cera\ Pro\ Light.otf")
      format("opentype");
  font-weight: normal;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
